{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=150px width=150px >
        </div>
        <h3>Hey Everyone, I'm <strong>{{ .Site.Params.author }}</strong>! </h3>
        <h3>I'm a Neuroscience student at</h3> 
        <h3>The University of Texas at Austin!</h3>
        <h3>Have a look at some of my <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="reemcv.pdf">resume</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
